#my_site {
  background-color: #696969; 
}

#choose_door {
  text-align: center;
  color: White;
  font-size: 20pt;
  font-family: "Times New Roman", "Lucida Bright", Serif;
}

#title {
  font-size: 35pt;
  font-family: Consolas, "Courier New", Monospaced;
  margin-bottom: 5px;
}

p.usual {
  margin-top: 1px;
}

#door_container {
  margin-top: 60px;
  text-align: center;
}

.door {
  display: inline-block;
  margin: 0 30px;
}